* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #97CAEF;
  --mainBlack: #17252A;
  --secondColor: rgb(56, 124, 133);
  --mainColor: #CAFAFE;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  text-align:center;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
/*NAVBAR*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--primaryColor);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainBlack);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  cursor: pointer;
}
.show-nav {
  height: 150px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 3rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
}
/* end of navbar */
/* Hero */
.homeBanner,
.adsBanner,
.helpBanner,
.errorBanner {
  min-height: 50vh;
  background: url("./images/helpHero.jpg") center/cover no-repeat;
  color: white;
  margin-bottom: 3vh;
  margin-top: 50px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.homeBanner {
  background: url("./images/koty.jpg") center/cover no-repeat;
}
.adsBanner {
  background: url("./images/adsHero.jpg") center/cover no-repeat;
  margin-bottom: 4vh;
}
.errorBanner {
  background: black;
  height: calc(100vh - 66px);
  margin: 0 auto;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainColor);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 3rem;
  color: #E4ECEE;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  border-bottom: 3px solid var(--primaryColor);
  text-transform: capitalize;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
}
/* end of Title */

/* features */
.features {
  padding: 2rem 0;
}
.features {
  background: var(--secondColor);
  text-align: center;
}
.features-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.feature span {
  display: inline-block;
  color: var(--mainBlack);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.features h3 {
  color: #E4ECEE;
  letter-spacing: 2px;
  text-transform: upperCase;
}
.features p {
  color: rgb(225, 231, 255);
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .features-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .features p {
    width: 100%;
  }
}
/* block */
.helpWays,
.contentPlace {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.block {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  background:var(--primaryColor);
}
.block:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  transition: var(--mainTransition);
}
.FillForm-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .FillForm-button {
  transform: translate(-50%, -50%) scale(1);
}
.block-info {
  background: var(--secondColor);
  color: var(--mainColor);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}

@media screen and (min-width: 992px) {
  .helpWays,
  .contentPlace {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .block-info {
    width: 100%;
  }
}
/* end of block */
/* Modal */
#Card .modal,
#FillForm .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  z-index: 1;
}

#Card .modal-body,
#FillForm .modal-body {
  padding: 2rem;
  width: 500px;
  border-radius: 20px;
  background: var(--mainColor);
  height: 350px;
  text-align: center;
  justify-content: center;
}
#Card .modal-body{
  height: 300px;
}

#Card input,
#FillForm input {
  height:2rem;
  margin:0.5rem;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid var(--primaryColor);
  width: 100%;
}



.FillFormButton {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.FillFormButton:hover {
  box-shadow: var(--darkShadow);
  background: var(--primaryColor);
  color: var(--mainBlack);
}
select {
  margin: 20px;
}
/* end of modal */
/* help Page */
.helpWays {
  width:100%;
  text-align:center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
}
/* end of helpPage */
